.formCarousel {
    margin: auto;
    width: 1000px;
}

#idFiled {
    border: 5px solid #3C3C3C;
    border-radius: 20px;
    width: 800px;
    height: 450px;
    padding: 15px;
    margin: auto;
}

#idLegend {
    width: 230px;
    height: 30px;
    line-height: 30px;
    font-family: 'Matura MT Script Capitals','Cooper';
    font-size: 30px;
    letter-spacing: 2px;
    margin-left: 20px;
    padding: 10px;
}

#imgCarousel {
    display: block;
    width: 600px;
    height: 300px;
    margin: auto;
}

.inputDiv {
    text-align: center;
}

input.inputSty {
    font-family: 'Monotype Corsiva','sans-serif';
    font-size: 20px;
    background-color: black;
    color: white;
    width: 40px;
    margin: 10px 25px 10px 25px;
    padding: 3px;
    letter-spacing: 1px;
}

input.playSty {
    display: inline-block;
    background-color: black;
    color: white;
    width: 40px;
    height: 40px;
    padding: 3px;
    font-size: 30px;
    margin-left: 230px;
    margin-right: 230px;
    -webkit-transform: rotate(90deg);
}

input.trunSty {
    display: inline-block;
    background-color: black;
    color: white;
    width: 50px;
    height: 40px;
    padding: 3px;
    font-size: 30px;
}
